package com.cibo.provenance.oo

import com.cibo.provenance._

/**
  * This is the base trait for a special case of FunctionWithProvenance where the function
  * is a wrapper for an object constructor.
  *
  * FunctionWithProvenance{1..22}
  *   - ObjectCompanion{0..21}.ConstructorWithProvenance.
  *     - MyClass.withProvenance
  */
trait ConstructorWithProvenance
